<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">
      <img src="/assets/logo.png" width="90" title="{{ site.title }}">
    </h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <p class="text">Acompanhe o nosso blog e fique por dentro dos detalhes do desenvolvimento do Desqer.</p>
      </div>

    </div>

    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
      <img alt="Licença Creative Commons" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" />
    </a>

    - <a class="terms" href="/terms.html">termos de uso</a>
    - <a class="terms" href="/privacy.html">política de privacidade</a>
    - <a class="terms" href="/feed.xml">RSS</a>

  </div>

</footer>
