<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="/assets/{% if page.brand %}{{ page.brand }}{% else %}{{ "favicon.png" }}{% endif %}" width="55" title="{{ site.title }}">
      Developers
    </a>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.menu && page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

    <div class="languages">
      {% for tongue in site.languages %}
        <a {% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %} href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">
          {{ tongue }}
        </a>
      {% endfor %}
    </div>

  </div>

</header>
