/**
 * Site header
 */
.site-header {
    border-top: 5px solid $main-color;
    border-bottom: 1px solid $grey-color-light;
    min-height: 85px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 67px;
    letter-spacing: -1px;
    margin-bottom: 0;
    padding-top: 10px;
    float: left;
}

.site-nav {
    float: right;
    line-height: 85px;

    .page-link {
        color: $grey-color;
        line-height: $base-line-height;
        font-size: 0.9em;

        &:hover {
          color: $text-color;
        }

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.languages {
    float: right;
    margin-top: 30px;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}


.site-footer .terms {
  font-size: 12px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
    text-align: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
}

.post-category {
    padding: 2px 4px;
    border: 1px solid $main-color-light;
    color: $main-color;
}

.post-tag {
    padding: 2px 4px;
    border: 1px solid $grey-color-light;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.post-description {
    font-size: 24px;
    color: $grey-color;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 50px;

    @include media-query($on-laptop) {
        font-size: 32px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-size: 18px;
    line-height: 32px;

    h2 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 24px;
        }
    }

    h3 {
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }

    h4 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }

    iframe {
      margin: 20px 0;
      border: none;
      border-bottom: solid 1px $grey-color;
    }

    .videowrapper {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
    }

    .videowrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}
